.drawer {
    color: #333;
    .list_item {
        color: #fff;
        .link {
            display: inline-block;
            width: 100%;
            color: #fff;
            .item_text {

            }
        }
    }
}